*::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: linear-gradient(to right, rgb(250, 234, 179), rgb(246, 208, 173));
}

.calculator-grid{
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(5, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(4, 6rem);
}
.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(12, 1, 1, 0.5);
  outline: none;
  background-color: rgba(187, 242, 247, 0.5);
  
}
.calculator-grid > button:hover,
.calculator-grid > button:focus{
  background-color: rgba(255,255,255,0.9);
}

.span-two{
  grid-column: span 2;
}
.output{
  grid-column: 1/-1;
  background-color: #ffffffb3;
  border: 1px solid rgb(12, 1, 1, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
  
}
.output .previous-operand{
  color: rgba(0,0,0, 0.5);
  font-size: 1.5rem;
}
.output .current-operand{
  color: black;
  font-size: 2.5rem;
}
